.signInForm {
  width: 348px;
  height: 374px;
  background-color: #191970;
  border-style: solid;
  border-width: 2px;
  border-color: #D4AF37;
}

body {
  background-color: #B6B6B6;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Finstagram {
  font-size: 40px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: center;
  color: #D4AF37;
}

.center {
  display: flex;
  justify-content: center;
}

input {
  width: 275px;
  height: 40px;
  border-width: 0px;
  padding: 0px;
  border-radius: 2px;
}

#top-margin {
  margin-top: 8px;
}

.loginButton {
  height: 30px;
  width: 275px;
  background-color: #D4AF37;
  border-width: 0px;
  margin-top: 8px;
  border-radius: 2px;
}

.forgotPassword {
  text-decoration: underline;
  color: #D4AF37;
  margin-top: 60px;
}

.login-bottem {
  margin-top: 8px;
  background-color: #191970;
  width: 348px;
  border: 2px solid #D4AF37;
}

.goldText {
  color: #D4AF37;
}



.nav-container {
  display: flex;
  background-color: #191970;
  border-style: solid;
  border-right: none;
  border-left: none;
  border-color: #D4AF37;
  border-width: 2px;
  width: 100%;
  height: 60px;
  justify-content: center;  
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
}

.nav-control{
  display: flex;
  width: 60%;
  justify-content: flex-end;
  height: 60px;
}

.linkCenter {
  display: flex;
  align-items: center;
}

.navImg{
  height: 22px;
  padding: 0px 8px 0px 0px;
  transition: .2s;
}

.navImg:hover {
  transform: scale(1.5);
}

#loginButton2 {
  text-decoration: none;
  
}

.loginButton3{
  background-color: #D4AF37;
  border: none;
  border-radius: 2px;
  height: 22px;
  transition: .2s;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.loginButton3:hover {
  cursor: pointer;
  transform: scale(1.5);
}

.finstagramNav {
  font-weight: 500;
  color: #D4AF37;
  display: flex;
  justify-content: flex-start;
}

.profileImg{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  border: 2px solid #D4AF37;
  margin-left: 12vw;
  margin-top: 2.5vh;
}

.profile-container {
  padding: 10vh 22vw 0px 15vw;
}

.profileUsername {
 margin: 0;
 padding-left: 25vw;
 font-size: 1.7rem;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
}

.followers {
  display: inline;
  padding-left: 25vw;
}

.following {
  display: inline;
  padding-left: 1vw;
}

.profileName {
  padding-left: 25vw;
}

.description {
  padding-left: 25vw;
  padding-right: 13vw;
}

.line {
  display: block;
}
.photoBox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 66.125vw;
  padding-top: 32px;
}

.gallery {
  padding-top: 8px;
  padding-left: 4px;
  padding-right: 4px;
  width: 300px;
  height: 300px;
  object-fit: cover;
  flex-basis: 26%;
}

.storyProfilepic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin: 8px 8px 8px 8px;
  border: 2px solid #D4AF37;
}

.storyProfilepic:hover {
  cursor: pointer;
}

.feed-container {
  display: flex;
  justify-content: flex-start;
  background-color: white;
  border: 2px solid #D4AF37;
  overflow : scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.storyName {
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin: 0;
  margin-bottom: 4px;
}

.storyTogether {
  display: flex;
  flex-direction: column;
}

.feed-magrin {
  margin: 17vh 35vw 0px 35vw;
}

.photoHeader {
  margin-top: 32px;
  background-color: white;
  display: flex;
  flex-direction: row;
  border: 2px solid #D4AF37;
}

.photoUsername {
  display: flex;
  align-items: center;
  padding: 8px;
  margin: 0;
}

.photoUserphoto {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #D4AF37;
  margin: 8px 8px 8px 8px;
  cursor: pointer;
}

.userPhoto {
  max-width: 100%;
  object-fit: cover;
}

.loginCenter {
  margin: 0;
  margin-top: 2px;
  display: flex;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
